body {
  // font-family: PingFang, "San Francisco", sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
}

.wrap {
  max-width: 640px;
  margin: 0 auto;
  ul {
    margin-right: 20px;
  }
  li img {
    margin-right: 20px;
  }
}
h2 {
  font-size: 20px;
  line-height: 1.2;
}
p {
  font-size: 16px;
}
footer{
  text-align: center;
  padding: 48px 0;
}