.d-inline-block{
    display: inline-block;
}
.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-end {
  justify-content: flex-end;
}
.align-items-center {
  align-items: center;
}
.align-self-end {
  align-self: flex-end;
}

.w100 {
  width: 100%;
}

.text-white {
  color: white;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-justify {
  text-align: justify;
}

.font-weight-light {
  font-weight: 300;
}
// 系統預設為400
.font-weight-Regular {
  font-weight: 400;
}
.font-weight-Medium {
  font-weight: 500;
}
.font-weight-semibold {
  font-weight: 600;
}
.font-weight-bold {
  font-weight: 700;
}
.font-weight-black {
  font-weight: 900;
}

.font-italic {
  font-style: italic;
}

.mt-3 {
  margin-top: 24px;
}
.mt-5 {
  margin-top: 40px;
}
.mr-3 {
  margin-right: 24px;
}
.mb-1 {
  margin-bottom: 8px;
}
.mb-2 {
  margin-bottom: 16px;
}
.mb-3 {
  margin-bottom: 24px;
}
.mb-4 {
  margin-bottom: 32px;
}
.mb-5 {
  margin-bottom: 40px;
}
.mb-6 {
  margin-bottom: 48px;
}
.mb-7 {
  margin-bottom: 56px;
}
.mb-8 {
  margin-bottom: 64px;
}
.mb-9 {
  margin-bottom: 72px;
}
.mb-10 {
  margin-bottom: 80px;
}
.ml-3 {
  margin-left: 24px;
}
.pt-3 {
  padding-top: 24px;
}
.pt-5 {
  padding-top: 40px;
}
.pb-1 {
  padding-bottom: 8px;
}
.pb-5 {
  padding-bottom: 40px;
}
.pl-3 {
  padding-left: 24px;
}
